## Q1

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, updating, and manipulation of information. Databases are used to store various types of data, ranging from simple text and numbers to more complex structures like images, videos, and geographic information.


SQL DataBase: SQL databases , which means they organize data into structured tables with predefined schemas. Each table consists of rows and columns  where data is stored. The primary language used to manage and manipulate data in SQL databases is SQL.


NoSQL DataBase : NoSQL databases (often interpreted as "not only SQL") are designed to handle unstructured or semi-structured data and provide more flexibility in data modeling. They do not require a fixed schema and are often used for handling large volumes of data with varying structures.

## Q2

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define, manage, and manipulate the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL is focused on specifying the structure of the data rather than manipulating the actual data stored within the database.


1. CREATE() : The create statement is used to create new database objects, such as tables, indexes, and views. It defines the structure of the object and any associated constraints.

In [ ]:
CREATE TABLE student (c1 INT, c2 FLOAT, c3 VARCHAR(20), c4 INT);

2. DROP() : The DROP statement is used to remove database objects, such as tables, indexes, or views. This action irreversibly deletes the object and its associated data.

In [ ]:
DROP TABLE student;

3. ALTER() : The ALTER statement is used to modify the structure of existing database objects, such as adding or dropping columns, changing data types, or modifying constraints.

In [ ]:
ALTER TABLE student
ADD Email VARCHAR(100);

4. TRUNCATE() : The TRUNCATE statement is used to quickly remove all rows from a table, effectively resetting its data. Unlike the DROP statement, TRUNCATE doesn't remove the table structure; it only removes the data.

In [ ]:
TRUNCATE TABLE student;

## Q3

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in a database. DML statements are used to insert, update, and delete data within database tables. Unlike DDL (Data Definition Language) that deals with the structure of the database, DML focuses on the manipulation of the actual data.

1. INSERT : The INSERT statement is used to add new rows of data into a table. It specifies both the table and the values to be inserted into the columns.

In [ ]:
INSERT INTO student (c1,c2,c3,c4)
VALUES (1,158.78,'Vinay',100);

2. UPDATE : The UPDATE statement is used to modify existing data in a table. It allows you to change the values of one or more columns in existing rows based on specified conditions.

In [ ]:
UPDATE student
SET c4 = 102
WHERE c1 = 1;

3. DELETE: The DELETE statement is used to remove one or more rows of data from a table based on specified conditions.

In [ ]:
DELETE FROM student
WHERE c1 = 1;

## Q4

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL is primarily concerned with querying the database to extract the information stored within it. The most common DQL statement is the SELECT statement, which allows you to retrieve specific data from one or more tables based on specified criteria.

The SELECT statement is used to retrieve data from one or more tables.

In [ ]:
SELECT * FROM student;

## Q5

1. Primary Key: A primary key is a unique identifier for a record in a database table. It ensures that each row within the table is uniquely identifiable. Primary keys are essential for maintaining data integrity and providing a way to uniquely reference records. Only one primary key can exist in a table, and it cannot contain duplicate or null values.

2. Foreign Key: A foreign key is a column or set of columns in a table that establishes a link between data in two different tables. It creates a relationship between the tables based on the values in the foreign key column and the primary key column of another table.

## Q6

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    "host":"Localhost",
    "user" : "abc",
    "password" : "password"
)

myCursor = mydb.cursor()

1. Cursor(): The cursor() method is used to create a cursor object, which is used to interact with the database. A cursor is a control structure that enables traversal of the records in a result set. The cursor acts as a pointer that you use to navigate through the rows returned by a query.

2. execute() : The execute() method is used to execute SQL queries or commands using the cursor .

## Q7

The order of execution of SQL clauses in a query is as follows:


1. SELECT
2. FROM
3. JOIN
4. WHERE
5. GROUP BY
6. HAVING
7. ORDER BY
8. LIMIT